*,
*::before,
*::after {
  margin: 0;
  font-family: "Nunito", sans-serif;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 10px;
}

body {
  background-color: #ddd;
  color: #333;
  margin: 0;
  font-family: "Nunito", sans-serif;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

.home-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 0.5s ease;
  z-index: 1000;
}

.nav-container {
  width: 100%;
  max-width: 200rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.nav {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: height 0.5s ease;
}

.nav a {
  text-decoration: none;
  color: #000;
  font-size: 1.6rem;
}

.brand-logo {
  height: 45px;
  width: 45px;
}

.nav-list {
  list-style: none;
  display: flex;
  background: #62c28d;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.nav-link {
  margin: 0 2rem;
  position: relative;
}

.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 0;
  bottom: -3px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

#nav-cta {
  display: inline-block;
  background-color: #62c28d;
  color: #000;
  padding: 1rem 2rem;
  border-radius: 2rem;
  transition: background-color 0.5s ease;
  visibility: hidden;
}

#nav-cta:hover {
  background-color: #8281c7;
  color: #fff;
}

/* Hero Landing Page*/
.hero {
  width: 100%;
  height: 100vh;
  background: url("../images/landingPage/venice-gondolas-xlarge.webp") center
    no-repeat;
  background-size: cover;
  position: absolute;
}

.title {
  font-size: 5rem;
  text-align: left;
  color: #62c28d;
}

.title-span {
  color: #000;
}

.subtitle {
  font-size: 2rem;
  text-align: left;
  color: #000;
}

.title-text {
  margin-bottom: 4rem;
  margin-top: -28rem;
}

.booking {
  padding: 2rem;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 1rem;
}

.input-group {
  margin-bottom: 1.5rem;
  position: relative;
  z-index: 2;
}

.input-label {
  display: flex;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: left;
  margin: 0 0 3px;
}

.input {
  outline: none;
  border: 1px solid lightgray;
  width: 100%;
  padding: 0.5rem;
  font-weight: bold;
  color: #a5a5a5;
  letter-spacing: 2px;
}

.options {
  outline: none;
  border: 1px solid lightgray;
  width: 100%;
  padding: 0.5rem;
  font-weight: bold;
  color: #a5a5a5;
  letter-spacing: 2px;
}

.booking-message {
  font-size: 2.5rem;
  padding: 2rem 2rem 2rem 0rem;
  text-align: left;
  line-height: 1.2;
}

.form-btn {
  cursor: pointer;
  padding: 1rem 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: none;
  float: right;
}

.btn-green {
  background-color: #62c28d;
}

.hero-section {
  max-width: 80%;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px 30px;
  justify-content: space-between;
  height: 80%;
  align-items: center;
  margin: 0 auto;
  margin-top: 10rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.header-internal {
  background: #62c28d;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.seperator {
  height: 25px;
}

.seperator2 {
  height: 63px;
}

.contact {
  display: block;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 4rem;
}

.contact-address {
  font-size: 1.75rem;
  margin-top: 1rem;
}

.email {
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: 1rem;
}

.email a {
  font-size: 1.75rem;
}

.phone {
  font-size: 1.75rem;
  margin-top: 1rem;
  font-weight: bold;
}

.contact-title {
  font-size: 4.5rem;
  margin: 1rem;
}

.contact-subtitle {
  font-size: 1.75rem;
  margin: 0.75rem;
}

.contact-text {
  margin: 1rem;
  padding-left: 40rem;
  padding-right: 40rem;
  font-size: 2.5rem;
}

@media screen and (max-width: 682px) {
  .contact-text {
    padding-left: 10rem;
    padding-right: 10rem;
    font-size: 1.75rem;
  }
  .contact-address {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .featured-trips-container .featured-title {
    flex-direction: column;
    text-align: center;
  }
  .featured-trips-container .featured-subtitle {
    flex-direction: column;
    text-align: center;
  }
  .featured-container {
    flex-direction: column;
    align-items: center;
  }
  .contact-form {
    top: 65% !important;
  }
}

@media screen and (max-width: 1600px) {
  .featured-container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1400px) {
  .contact-text {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.logo {
  margin: 2rem;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.internal-nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: #62c28d;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

.internal-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.internal-nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

.internal-nav a {
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.internal-nav:hover {
  color: #000;
}

.nav-toggle:checked ~ .internal-nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ .internal-nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  .header-internal {
    display: grid;
    grid-template-columns: 3fr auto minmax(600px, 8fr) 1fr;
  }

  .logo {
    grid-column: 1 / 2;
  }

  .internal-nav {
    all: unset;
    grid-column: 2 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .internal-nav ul {
    display: flex;
    justify-content: flex-end;
  }

  .internal-nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  .internal-nav a {
    opacity: 1;
    position: relative;
  }

  .internal-nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
  }

  .internal-nav a:hover::before {
    transform: scale(1, 1);
  }
}

.contact-form {
  width: 85%;
  max-width: 600px;
  background: #f1f1f1;
  position: absolute;
  top: 55%;
  left: 50%;
  margin-top: 10rem;
  transform: translate(-50%, -40%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
}

.contact-form h1 {
  margin-top: 0;
  font-weight: 200;
}

.txtb {
  border: 1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}

.txtb label {
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}

.txtb input,
.txtb textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}

.button {
  display: block;
  background: #62c28d;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  padding: 1rem 2rem;
  width: 100%;
}

/* Mobile Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .nav a {
    margin: 1rem;
  }
  .nav-list {
    visibility: hidden;
  }
  #nav-cta {
    visibility: visible;
  }
  .title-text {
    margin-top: -12rem;
  }

  .title,
  .subtitle {
    text-align: center;
  }

  .text-wrap {
    all: unset;
  }
  .big-amber-fort {
    all: unset;
    float: none !important;
  }
  .tour-content {
    all: unset;
  }
  .tour-cities {
    margin-left: 0 !important;
    margin-left: 2rem !important;
  }
  .tour-listing-section {
    padding: 1rem;
  }
  .tour-listing-info {
    flex-direction: column;
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 961px) {
  .title-text {
    margin-top: -10rem;
  }
}

/* Hero Section Banner (Destinations Page) */
.hero-image {
  position: relative;
  height: 400px;
  overflow: hidden;
  background: url(../images/tourImages/bannerImage.jpg) no-repeat center;
  background-size: cover;
}

.banner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: 700;
}

.banner-title {
  font-size: 64px;
  letter-spacing: 0.2em;
  margin: 0;
}

.banner-container .banner-title span {
  border: 10px solid white;
  display: inline-block;
  padding: 6px 14px;
}

.banner-span {
  margin: 20px;
  display: block;
  font-size: 26px;
  text-shadow: 0 0 10px black;
}

.banner-button {
  color: #313131;
  padding: 10px 24px;
  font-size: 20px;
  text-decoration: none;
  background: #f1f1f1;
  border-radius: 8px;
  transition: 0.3s all;
}

.banner-button:hover {
  opacity: 0.8;
}

.card {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  margin: 20px 1%;
  min-width: 360px;
  max-width: 200px;
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), 0 5px 15px rgba(0, 0, 0, 0.07);
  background: #f9f9f9;
  text-align: left;
}

.card:hover {
  transition: 250ms all;
  transform: translateY(-5px);
}

.card-image__first {
  border-radius: 4px 4px 0 0;
  margin-bottom: 20px;
  display: block;
  height: 300px;
  background-size: cover;
  /* 360x300 */
  background: url(../images/tourImages/amber-fort.webp);
}

.card-image__second {
  border-radius: 4px 4px 0 0;
  margin-bottom: 20px;
  display: block;
  height: 300px;
  background-size: cover;
  /* 360x300 */
  background: url(../images/tourImages/egypt.jpg);
}

.card-image__third {
  border-radius: 4px 4px 0 0;
  margin-bottom: 20px;
  display: block;
  height: 300px;
  background-size: cover;
  /* 360x300 */
  background: url(../images/tourImages/iceland.jpg);
}

.card-image__fourth {
  border-radius: 4px 4px 0 0;
  margin-bottom: 20px;
  display: block;
  height: 300px;
  background-size: cover;
  /* 360x300 */
  background: url(../images/tourImages/brazil.jpg);
}

.card-content {
  padding: 0.3em 2em;
}

.card-heading {
  font-size: 21px;
  color: #505050;
  font-weight: 500;
  line-height: 1.5;
}

.card-text {
  color: #606060;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 1.5;
  text-align: left !important;
  margin-bottom: 10px;
}

.card-button,
a.card-button {
  display: inline-block;
  text-transform: capitalize;
  cursor: pointer;
  text-decoration: none;
  line-height: 20px;
  border-radius: 30px;
  padding: 5px 20px;
  background: #8281c7;
  color: #fff;
  font-weight: 500 !important;
  font-size: 13px;
}

.card-button,
a.card-button:active {
  box-shadow: 0 2px 6px rgba(48, 51, 54, 0.4), 0 0 3px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}

.space {
  height: 4vh;
}

.featured-trips-container {
  margin: 2rem;
  padding-top: 2rem;
  background-color: #8281c7;
  border-radius: 30px;
}

.featured-trips-container .featured-title {
  font-size: 36px;
  display: flex;
  justify-content: center;
}

.featured-trips-container .featured-subtitle {
  font-size: 24px;
  display: flex;
  padding: 0 50px;
  justify-content: center;
}

.featured-container {
  display: flex;
  justify-content: center;
}

.tour-listing-section {
  margin: 1rem;
  background-color: rgba(130, 129, 199, 0.3);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: block;
  max-width: 1600px;
}

.tour-listing-info {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.details {
  margin: 0 auto;
}

.tour-name {
  font-size: 64px;
}

.tour-price {
  font-size: 24px;
}

.tour-length {
  font-size: 20px;
}

.tour-dates {
  font-size: 20px;
}

.bullet-points-title {
  font-size: 20px;
  margin-top: 1rem;
}

.bullet-points {
  margin: 0 auto;
}

.points {
  font-size: 16px;
  list-style: square;
  font-style: italic;
}

.tour-cities {
  display: flex;
  margin-top: 2rem;
  align-content: center;
  margin-left: 17rem;
}

hr {
  margin: 1rem;
  max-width: 1600px;
  margin-top: 2rem;
}

.text-wrap {
  text-align: justify;
  font-size: 25px;
  line-height: 62px;
  margin-left: 16rem;
}

.big-amber-fort {
  height: 350px;
  float: right;
  shape-outside: url("../images/tourImages/sizedAmberFort.jpeg");
  margin-top: 60px;
  padding: 1rem;
  shape-margin: 15px;
}

.tour-content {
  max-width: 1600px;
  margin-left: 1rem;
}

.availability-label {
  font-size: 19px;
}
